include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include slack *.css
recursive-include slack *.csv
recursive-include slack *.html
recursive-include slack *.ico
recursive-include slack *.js
recursive-include slack *.json
recursive-include slack *.md
recursive-include slack *.png
recursive-include slack *.py
recursive-include slack *.svg
recursive-include slack *.txt
recursive-exclude slack *.pyc