include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include telegram *.css
recursive-include telegram *.csv
recursive-include telegram *.html
recursive-include telegram *.ico
recursive-include telegram *.js
recursive-include telegram *.json
recursive-include telegram *.md
recursive-include telegram *.png
recursive-include telegram *.py
recursive-include telegram *.svg
recursive-include telegram *.txt
recursive-exclude telegram *.pyc